<% @meta = t('design_meta') %>
<% @title = t('design_title') %>

<div class="header-design">
  <h1>Hvorfor er et godt design viktig?</h1>
  <h2>Vi lager profesjonelle websider tilpasset ditt behov.</h2>
</div>
<div class="full-width border-row light-background">
  <div class="intro-design-utvikling inner-width">
    <h2>Design &amp; Utvikling</h2><hr style="width:5%; margin-left: 5px;">
    <p>
      Når vi utvikler et design har vi hele tiden fokus på at det skal forbedre brukervennligheten og fremme innholdet.
    </p>
    <p>
      I motsetning til mange andre webdesignfirmaer lager vi kreative og unike design fra scratch, og vi vil aldri levere fra oss lik webdesign til flere kunder.
      Vi er svært opptatt av høy kvalitet på det vi leverer. En stor fordel er at vi er unge og følger trenden i markedet, da vet vi hva som må til for å lage god webdesign.
    </p>
    <p>
      Designere som ikke har kunnskap om brukervennlighet kan lage et nettside som ser bra ut, men designet er ikke optimalisert for web og nettside bli vanskelig å bruke.
      Vi lager ryddige koder slik at hjemmesiden din fungerer i de mest brukte nettleserne, og i tillegg er optimalisert for maksimal hastighet og stabilitet.
    </p>
    <h3>Responsivt Design</h3>
    <p>
      Alle våre nettsider er tilpasset alle skjermstørrelser.
      Det betyr at innholdet og designet på nettsiden din blir automatisk tilpasset etter din enhet, uansett skjermstørrelse.
    </p>
    <h3>Webutvikling</h3>
    <p>Vi lager nettsiden din med standard HTML, CSS og Javascript. Vi syr det hele sammen med programmeringsspråket Ruby, som er et moderne, kjapt og fleksibelt språk som gjør det lett å gjøre siden din dynamisk.</p>

    <h3>Publiseringssystem</h3>
    <p>
      Vi har laget en publiseringsløsning som er lett å bruke.
      Spar kostnader ved å utføre enkle oppgaver selv, som å bytte ut bilder eller endre tekst.
      Vi har utviklet et eget publiseringssystem (CMS), hvor du kan enkelt administrere innholdet selv. For å ikke skape mye krøll, har vi lagt vekt på at du som administrator skal være trygg og at det skal være lekende lett. Det er ingen krav om tekniske forkunnskaper.
    </p>
    <h3>Testing</h3>
    <p>
      Vi leverer ikke produktet før det er ferdig testet. Vi vil kjøre en optimal test på hjemmesiden din og teste den i de mest brukte nettleserne.
      Vi garanterer at du som kunde vil få et feilfritt produkt som er av høy kvalitet.
    </p><br>
    <p>Vil du vite mer om hva vi har å tilby innen design og utvikling?</p><br>
    <a href="mailto:post@speria.no" class="button big" role="button">Ta kontakt så hjelper vi deg</a>
  </div>
</div>