<% @meta = t('host_meta') %>
<% @title = t('host_title') %>

<div class="header-hosting">
  <h1>Hva skjer etter lansering?</h1>
  <h2>Hos oss får du oppfølgingsgaranti helt gratis</h2>
</div>
<div class="full-width border-row light-background">
  <div class="intro-hosting inner-width">
    <h2>Hosting &amp; Drift</h2><hr style="width:5%; margin-left: 5px;">
    <p>
      Som kunde hos oss kan du få gratis hosting på våre høyhastighetsservere i Norge i et helt år.
      Vi distribuerer nettstedet ditt på våre eksisterende servere, slik at du slipper å tenke på det.
    </p>

    <h3>Domenenavn</h3>
    <p>
      Vi er eksperter på nettverk og kan gi deg rådgivning om hvordan du setter opp ditt domenenavn, epost og SSL sertifikat.
    </p>
    <h3>Oppfølging og support</h3>
    <p>
      Vi stopper ikke når vi har levert en ferdig løsning. Vi hjelper deg også etter lansering. Vår oppfølgingsgaranti skal være med på å sikre at du får betalt for din investering og vi kan tilby deg svært gode supportavtaler.
      Ikke nok med det vil vi fikse bugs helt gratis i et helt år! Bedre deal får du ikke andre steder!
    </p><br>
    <p>Ønsker du å vite mer om oppfølging og hosting?</p><br>
    <a href="/?subject=hosting#kontakt" class="button small" role="button">Ta kontakt for tilbud</a>
  </div>
</div>