<% @meta = t('om-oss_meta') %>
<% @title = t('om-oss_title') %>

<div class="header-om-oss">
  <h1>We don't work to live - We live to work</h1>
  <h2>Vårt team og vår visjon</h2>
</div>
<div class="full-width border-row light-background">
  <div class="intro-om-oss inner-width">
    <h2>Om Oss</h2><hr style="width:5%; margin-left: 5px;">
    <p>
      Speria Creative ble etablert i 2017. Vi er idag et lite dedikert team med to fast ansatte, og et nettverk av kreative freelancere som vi kobler inn i våre prosjekter når det trengs. Grunnlegger og daglig leder, Susana Pham har en bachelorgrad i Markedsføring og har tidligere jobbet flere år som markedsanalytiker og freelance webdesigner både i Norge og internasjonalt.
    </p>
    <p>
      Vi er genuint opptatt av å levere gode løsninger for våre kunder, og spesialiserer oss innen små, mellomstore og nyoppstartede bedrifter. Alle hjemmesidene vi bygger er brukervennlige, responsive og søkemotoroptimaliserte.
    </p>
    <p>
      Det er mange selskaper som gjør det samme som oss, men vi vil at du skal jobbe med oss ut fra hvem vi er. Gjennom hardt arbeid kan vi tilby så mye mer enn bare en fin hjemmeside å se på.
    </p>
    <h3>Hvorfor bør du velge oss?</h3>
    <p>
      <span>&ulcorn;</span> Vi setter markedsføring i fokus. Å drive trafikk inn på siden din er det viktigste av alt. Det hjelper ikke med en fin side hvis ingen finner den. Velger du oss er det en investering der vårt mål er å øke dine inntekter.
    </p>
    <p>
      <span>&ulcorn;</span> Vi er ikke store, og derfor klarer vi å jobbe veldig tett med kundene våre. Vi sier ikke ja til alle oppdrag, fordi vi vil at du som kunde blir 100% prioritert.
    </p>
    <p>
      <span>&ulcorn;</span> Vi prater deg ikke trill rundt og sitter ikke i flere møter for å preike om ditt og datt. Vi kaster ikke bort tiden din og går rett på sak. Du møter oss som gjør jobben for deg, og som faktisk kjenner til behovene dine.
    </p>
    <p>
      <span>&ulcorn;</span> Vi har lynkjapp responstid og korte arbeidsprosesser. Derfor kommer resultatene raskere. Som en liten leverandør er vi avhengig av at du som kunde lykkes, ellers gjør vi ikke det bra selv.
    </p>
    <p>
      <b>Vår visjon er enkel:</b> Vi er lidenskapelig opptatt av å skape gode resultater.
      På veien dit skal vi vise at det går an å få til god markedsføring, og samtidig levere et godt webdesign uten at du må betale mye penger.<a href="/#kontakt"> Ta gjerne kontakt for å bli bedre kjent med oss!</a>
    </p>
  </div>
</div>
