<% @meta = t('seo_meta') %>
<% @title = t('seo_title') %>

<div class="header-seo">
  <h1>Vi hjelper deg med å bli mer synlig på nettet!</h1>
  <h2>Vi har sterkt fokus på søkemotoroptimalisering</h2>
</div>
<div class="full-width border-row light-background">
  <div class="intro-seo inner-width">
    <h2>SEO &amp; Markedsføring</h2><hr style="width:5%; margin-left: 5px;">
    <p>
     Online markedsføring er noe vi kan! Vi kan hjelpe deg med lenkebygging inn til siden din, innholdsmarkedsføring, sosiale medier, innovasjonsmetoder og mye mer.
    </p>
    <h3>Søkemotoroptimalisering</h3>
    <p>
      Søkemotoroptimalisering er i dag uten tvil den mest effektive formen for online markedsføring, da alt dreier seg om klikk og konvertering. Basert på våre erfaringer og kunnskap har vi funnet den optimale SEO løsningen som er helt gratis!
    </p>
    <p>
      Vi analyserer hjemmesiden din og med hjelp av vår optimaliserte kode og tekniske løsning vil vi også i tillegg gå grundig gjennom bruk av tekst og innhold for å avdekke viktige og relevante søkebegreper som passer til din profil.
    </p>
    <p>
      God søkemotoroptimalisering forutsetter at man kan skrive godt. Ved å skrive gode tekster med riktig oppbygging av kriterier, vil du etter hvert drive relevant trafikk inn på nettsiden din. Google vil da plassere ditt nettsted høyere på resultatlisten for de temaene nettsiden din omhandler.
    </p>
    <p>
      Vi tilbyr grundige SEO-rapporter til våre kunder, som inneholder detaljert analyse av nettsiden for å avdekke alle forbedringsmuligheter. Vi bygger deretter strategier for fremtidige mål for at din virksomhet skal lykkes.
    </p>
    <h3>Gode tekster</h3>
    <p>
      Vi skriver tekster for alle typer blogger og nettsider. Vi dekker alle emner rettet mot det generelle publikum. Våre forfattere er rutinerte skribenter, og vi har kontakter som kan trekkes inn ved behov.
    </p>
    <p>
      Vår målsetting er å oppnå høy rangering på aktuelle søk, flere besøkende på bloggen eller nettsiden din, eller flere påmeldte på nyhetsbrev. Flere treff er det samme som flere salg.
    </p>
    <p>
      Vi søker alltid å konkretisere målene for tekstene basert på aktuelle nøkkelord og nøkkelfraser. Artiklene er utformet slik at de er søkemotor-optimalisert ved hjelp av velprøvde teknikker. Lengden kan variere, men vanligvis er de på rundt 500 ord.
    </p>
    <p>
      Vi kan foreslå emner og temaer for artikler, eller vi kan basere det på ønsker fra deg. Vi kan også gi råd om aktuelle kriterier for å oppnå så mange treff som mulig.
    </p>
    <p>Trenger du hjelp med markedsføring?</p><br>
    <a href="/?subject=marketing#kontakt" class="button small" role="button">Send oss en forespørsel</a>
  </div>
</div>
